<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        信息提交
    </title>
<link href="../static/css/infoPost.css" rel="stylesheet"></head>

<body>
    <!-- 头部 -->
    <header>
    <div class="menu"></div>
    <div class="logo"></div>
    <div class="userNav">
        <ul>
            <li class="portrait">
                <img src="/assets/img/user.svg">
            </li>
            <li class="userName">
                <p>酷土豆</p>
                <p>SMT研发部</p>
                <i></i>
            </li>
            <li class="help"></li>
        </ul>
        <div class="organi">
            <div class="content">
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
            </div>
            <div class="setting">
                <li class="set">
                    <input type="button" value="个人设置">
                </li>
                <li class="out">
                    <input type="button" value="退出登陆">
                </li>
            </div>
        </div>
    </div>
</header>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <aside>
    <ul class="menus">
        <li class="on">
            <a href="/template/operate_index.html">
                <span>首页</span>
            </a>
        </li>
        <li data-type="yunying">
            <a href="/template/operate.html">
                <span>运营</span>
            </a>
        </li>
        <li data-type="moban">
            <span>模板</span>
            <dl>
        <li>
            <a href="/template/templateReg.html">
                <span>注册</span>
            </a>
        </li>
        <li>
            <a href="/template/addVote.html">
                <span>投票</span>
            </a>
        </li>
        <li>
            <a href="/template/list.html">
                <span>点赞</span>
            </a>
        </li>
        <li>
            <a href="/template/chatRoom.html">
                <span>聊天室</span>
            </a>
        </li>
        <li>
            <a href="/template/burst.html">
                <span>爆料</span>
            </a>
        </li>
        <li>
            <a href="/template/infoPost.html">
                <span>信息提交</span>
            </a>
        </li>
        <li>
            <a href="/template/graphicTemplate.html">
                <span>新建图文模板</span>
            </a>
        </li>
        <li>
            <a href="/template/signUp.html">
                <span>报名</span>
            </a>
        </li>
        <li>
            <a href="/template/addLive.html">
                <span>直播</span>
            </a>
        </li>
        <li>
            <a href="/template/answer.html">
                <span>答题</span>
            </a>
        </li>
        <li>
            <a href="/template/answerSwitch.html">
                <span>答题管理</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="huodong">
            <a href="/template/activityList.html">
                <span>活动</span>
            </a>
        </li>
        <li data-type="shuju">
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>数据</span>
            </a>
        </li>
        <li data-type="wechat">
            <span>微信号</span>
            <dl>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关注时回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关键词回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>媒体素材库管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>消息管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>自定义菜单管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>评论采集功能</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="shenhe">
            <a href="/template/checked.html">
                <span>待审核
                    <i>12</i>
                </span>
            </a>
        </li>
        <li data-type="tongguo">
            <a href="/template/checked.html?type=adopt">
                <span>已通过</span>
            </a>
        </li>
        <li data-type="weitongguo">
            <a href="/template/checked.html?type=notadopt">
                <span>未通过</span>
            </a>
        </li>
    </ul>
</aside>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <div class="mbs">
                        <h3>新建信息提交模板</h3>
                        <ul>
                            <li>
                                <a href="">模板</a>
                            </li>
                            <span>></span>
                            <li>
                                <a href="">信息提交管理</a>
                            </li>
                            <span>></span>
                            <li>新建信息提交模板</li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="items">
                            <div class="page-header">
                                <h3>基本信息设置
                                    <small>背景图建议尺寸：960*1704像素，格式png、jpeg、jpg、gif，大小不超过1M。</small>
                                </h3>
                            </div>
                            <div class="list-item">
                                <label>模板名称</label>
                                <li>
                                    <textarea id="editor-0" style="width: 100%;height: 36px; overflow: hidden;"></textarea>
                                    <i>0/35</i>
                                </li>
                                <p class="sign">请填写注册模板名称</p>
                            </div>
                            <div class="list-item">
                                <label>互动文案</label>
                                <li>
                                    <textarea id="editor-1" style="width: 100%;height: 165px; overflow: hidden;"></textarea>
                                    <i>0/35</i>
                                </li>
                                <p class="sign">请填写注册模板名称</p>
                            </div>
                            <div class="list-item regName">
                                <label>用户提交内容</label>
                                <li class="checkeds box">
                                    <span class="opt">
                                        <input type="checkbox" name="img">
                                    </span>基本信息
                                    <span class="opt">
                                        <input type="checkbox" name="img">
                                    </span>图片
                                    <span class="opt">
                                        <input type="checkbox" name="video">
                                    </span>视频
                                </li>
                            </div>
                            <div class="list-item regName">
                                <label>用户信息设置</label>
                                <li class="regMode">
                                    <dl>
                                        <li>
                                            <label>必填</label>
                                            <label>选填</label>
                                        </li>
                                        <li class="item" data-id="1">
                                            <label>姓名</label>
                                            <span class="checked on">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span class="checked">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span>
                                                <i class="add"></i>
                                                <i class="del"></i>
                                                <i class="up"></i>
                                                <i class="down"></i>
                                            </span>
                                        </li>
                                        <li class="item" data-id="2">
                                            <label>电话</label>
                                            <span class="checked on">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span class="checked">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span>
                                                <i class="add"></i>
                                                <i class="del"></i>
                                                <i class="up"></i>
                                                <i class="down"></i>
                                            </span>
                                        </li>
                                        <li class="item" data-id="3">
                                            <label>邮箱</label>
                                            <span class="checked on">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span class="checked">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span>
                                                <i class="add"></i>
                                                <i class="del"></i>
                                                <i class="up"></i>
                                                <i class="down"></i>
                                            </span>
                                        </li>
                                        <li class="item" data-id="4">
                                            <label>短信验证</label>
                                            <span class="checked on">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span class="checked">
                                                <input type="radio" name="vote">
                                            </span>
                                            <span>
                                                <i class="add"></i>
                                                <i class="del"></i>
                                                <i class="up"></i>
                                                <i class="down"></i>
                                            </span>
                                        </li>
                                    </dl>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>自定义按钮</label>
                                <li class="setupButtn">
                                    <span class="no">
                                        <input type="text" placeholder="设置按钮文字">
                                    </span>
                                    <span class="setColor">
                                        <input type="text" placeholder="按钮文字颜色">
                                    </span>
                                    <span class="setColor">
                                        <input type="text" placeholder="按钮背景色">
                                    </span>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>爆料完成后提示</label>
                                <li>
                                    <input type="text" maxlength="35">
                                    <i>0/35</i>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>信息上传页背景</label>
                                <li class="upBg">
                                    <span>
                                        <img src="/assets/img/bg.JPEG" alt="">
                                    </span>
                                    <input type="file">
                                </li>
                            </div>
                            <div class="list-item">
                                <label>用户信息页背景</label>
                                <li class="upBg">
                                    <span>
                                        <img src="/assets/img/bg.JPEG" alt="">
                                    </span>
                                    <input type="file">
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="content btn">
                        <div class="submit">
                            <input type="button" value="保存">
                            <input type="button" value="预览">
                        </div>
                    </div>
                    <!--dialog-->
                    <div class="dialog">
    <div class="content">
        <h4>添加注册信息选项
            <span class="close">&times</span>
        </h4>
        <div class="d-center">
            <h5>基本信息</h5>
            <ul class="checkbox">
                <li data-id="1">
                    <label>
                        <input type="checkbox" name="11">
                    </label>
                    <span>姓名</span>
                </li>
                <li data-id="2">
                    <label>
                        <input type="checkbox" name="22">
                    </label>
                    <span>邮箱</span>
                </li>
                <li data-id="3">
                    <label>
                        <input type="checkbox" name="33">
                    </label>
                    <span>性别</span>
                </li>
                <li data-id="4">
                    <label>
                        <input type="checkbox" name="44">
                    </label>
                    <span>身高</span>
                </li>
                <li data-id="5">
                    <label>
                        <input type="checkbox" name="55">
                    </label>
                    <span>体重</span>
                </li>
                <li data-id="6">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>血型</span>
                </li>
                <li data-id="7">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>年龄段</span>
                </li>
                <li data-id="8">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>出生年月</span>
                </li>
                <li data-id="9">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>身份证号</span>
                </li>
                <li data-id="10">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>值得关注的微博/微信公众号推荐（列举3-5个）</span>
                </li>
                <li data-id="11">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>国籍</span>
                </li>
                <li data-id="12">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>有意向参加测试活动的时间</span>
                </li>
                <li data-id="13">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>出生地</span>
                </li>
                <li data-id="14">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>民族</span>
                </li>
                <li data-id="15">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>政治面貌</span>
                </li>
            </ul>
        </div>
        <div class="d-foot">
            <button class="enter">确定</button>
            <button class="off close">取消</button>
        </div>
    </div>
</div>
                </article>
        </main>
        <!-- 底部版权 -->
        <footer>
    SMG技术运营中心-研发中心  提供技术支持
</footer>
<script type="text/javascript" src="../static/js/infoPost.js"></script></body>

</html>