<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        通知
    </title>
<link href="../static/css/notice.css" rel="stylesheet"></head>

<body>
    <!-- 头部 -->
    <header>
    <div class="menu"></div>
    <div class="logo"></div>
    <div class="userNav">
        <ul>
            <li class="portrait">
                <img src="/assets/img/user.svg">
            </li>
            <li class="userName">
                <p>酷土豆</p>
                <p>SMT研发部</p>
                <i></i>
            </li>
            <li class="help"></li>
        </ul>
        <div class="organi">
            <div class="content">
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
            </div>
            <div class="setting">
                <li class="set">
                    <input type="button" value="个人设置">
                </li>
                <li class="out">
                    <input type="button" value="退出登陆">
                </li>
            </div>
        </div>
    </div>
</header>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <aside>
    <ul class="menus">
        <li class="on">
            <a href="/template/operate_index.html">
                <span>首页</span>
            </a>
        </li>
        <li data-type="yunying">
            <a href="/template/operate.html">
                <span>运营</span>
            </a>
        </li>
        <li data-type="moban">
            <span>模板</span>
            <dl>
        <li>
            <a href="/template/templateReg.html">
                <span>注册</span>
            </a>
        </li>
        <li>
            <a href="/template/addVote.html">
                <span>投票</span>
            </a>
        </li>
        <li>
            <a href="/template/list.html">
                <span>点赞</span>
            </a>
        </li>
        <li>
            <a href="/template/chatRoom.html">
                <span>聊天室</span>
            </a>
        </li>
        <li>
            <a href="/template/burst.html">
                <span>爆料</span>
            </a>
        </li>
        <li>
            <a href="/template/infoPost.html">
                <span>信息提交</span>
            </a>
        </li>
        <li>
            <a href="/template/graphicTemplate.html">
                <span>新建图文模板</span>
            </a>
        </li>
        <li>
            <a href="/template/signUp.html">
                <span>报名</span>
            </a>
        </li>
        <li>
            <a href="/template/addLive.html">
                <span>直播</span>
            </a>
        </li>
        <li>
            <a href="/template/answer.html">
                <span>答题</span>
            </a>
        </li>
        <li>
            <a href="/template/answerSwitch.html">
                <span>答题管理</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="huodong">
            <a href="/template/activityList.html">
                <span>活动</span>
            </a>
        </li>
        <li data-type="shuju">
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>数据</span>
            </a>
        </li>
        <li data-type="wechat">
            <span>微信号</span>
            <dl>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关注时回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关键词回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>媒体素材库管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>消息管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>自定义菜单管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>评论采集功能</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="shenhe">
            <a href="/template/checked.html">
                <span>待审核
                    <i>12</i>
                </span>
            </a>
        </li>
        <li data-type="tongguo">
            <a href="/template/checked.html?type=adopt">
                <span>已通过</span>
            </a>
        </li>
        <li data-type="weitongguo">
            <a href="/template/checked.html?type=notadopt">
                <span>未通过</span>
            </a>
        </li>
    </ul>
</aside>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <div class="article">
                        <div class="mbs">
                            <h3>通知</h3>
                        </div>
                        <div class="content">
                            <ul class="list-item">
                                <li>
                                    <h4>iHub 2.0 全新登场！
                                        <span>2018-06-08
                                            <i></i>
                                        </span>
                                    </h4>
                                    <div>
                                        <p>现在iHub全互动云支持在互动流程中任意设置图文介绍页面啦！模板前模板后都可添加，不限模板，不限次数，就算串成连环画都行。赶快丰富你的互动活动吧！请进入互动模板
                                            <span>
                                                <a href="">查看详情</a>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li class="on">
                                    <h4>iHub 2.0 用户使用手册更新
                                        <span>2018-06-08
                                            <i></i>
                                        </span>
                                    </h4>
                                    <div>
                                        <p>现在iHub全互动云支持在互动流程中任意设置图文介绍页面啦！模板前模板后都可添加，不限模板，不限次数，就算串成连环画都行。赶快丰富你的互动活动吧！请进入互动模板
                                            <span>
                                                <a href="">查看详情</a>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>用户数据中心新增用户参与活动记录及互动详情
                                        <span>2018-06-08
                                            <i></i>
                                        </span>
                                    </h4>
                                    <div>
                                        <p>现在iHub全互动云支持在互动流程中任意设置图文介绍页面啦！模板前模板后都可添加，不限模板，不限次数，就算串成连环画都行。赶快丰富你的互动活动吧！请进入互动模板
                                            <span>
                                                <a href="">查看详情</a>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>图文模块上线
                                        <span>2018-06-08
                                            <i></i>
                                        </span>
                                    </h4>
                                    <div>
                                        <p>现在iHub全互动云支持在互动流程中任意设置图文介绍页面啦！模板前模板后都可添加，不限模板，不限次数，就算串成连环画都行。赶快丰富你的互动活动吧！请进入互动模板
                                            <span>
                                                <a href="">查看详情</a>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>投票模块更新，投票显示结果可选择不显示
                                        <span>2018-06-08
                                            <i></i>
                                        </span>
                                    </h4>
                                    <div>
                                        <p>现在iHub全互动云支持在互动流程中任意设置图文介绍页面啦！模板前模板后都可添加，不限模板，不限次数，就算串成连环画都行。赶快丰富你的互动活动吧！请进入互动模板
                                            <span>
                                                <a href="">查看详情</a>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
        </main>
        <!-- 底部版权 -->
        <footer>
    SMG技术运营中心-研发中心  提供技术支持
</footer>
<script type="text/javascript" src="../static/js/notice.js"></script></body>

</html>