<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>运营</title>
<link href="../static/css/checked.css" rel="stylesheet"></head>

<body>
    <!-- 头部 -->
    <header>
    <div class="menu"></div>
    <div class="logo"></div>
    <div class="userNav">
        <ul>
            <li class="portrait">
                <img src="/assets/img/user.svg">
            </li>
            <li class="userName">
                <p>酷土豆</p>
                <p>SMT研发部</p>
                <i></i>
            </li>
            <li class="help"></li>
        </ul>
        <div class="organi">
            <div class="content">
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
            </div>
            <div class="setting">
                <li class="set">
                    <input type="button" value="个人设置">
                </li>
                <li class="out">
                    <input type="button" value="退出登陆">
                </li>
            </div>
        </div>
    </div>
</header>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <aside>
    <ul class="menus">
        <li class="on">
            <a href="/template/operate_index.html">
                <span>首页</span>
            </a>
        </li>
        <li data-type="yunying">
            <a href="/template/operate.html">
                <span>运营</span>
            </a>
        </li>
        <li data-type="moban">
            <span>模板</span>
            <dl>
        <li>
            <a href="/template/templateReg.html">
                <span>注册</span>
            </a>
        </li>
        <li>
            <a href="/template/addVote.html">
                <span>投票</span>
            </a>
        </li>
        <li>
            <a href="/template/list.html">
                <span>点赞</span>
            </a>
        </li>
        <li>
            <a href="/template/chatRoom.html">
                <span>聊天室</span>
            </a>
        </li>
        <li>
            <a href="/template/burst.html">
                <span>爆料</span>
            </a>
        </li>
        <li>
            <a href="/template/infoPost.html">
                <span>信息提交</span>
            </a>
        </li>
        <li>
            <a href="/template/graphicTemplate.html">
                <span>新建图文模板</span>
            </a>
        </li>
        <li>
            <a href="/template/signUp.html">
                <span>报名</span>
            </a>
        </li>
        <li>
            <a href="/template/addLive.html">
                <span>直播</span>
            </a>
        </li>
        <li>
            <a href="/template/answer.html">
                <span>答题</span>
            </a>
        </li>
        <li>
            <a href="/template/answerSwitch.html">
                <span>答题管理</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="huodong">
            <a href="/template/activityList.html">
                <span>活动</span>
            </a>
        </li>
        <li data-type="shuju">
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>数据</span>
            </a>
        </li>
        <li data-type="wechat">
            <span>微信号</span>
            <dl>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关注时回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关键词回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>媒体素材库管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>消息管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>自定义菜单管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>评论采集功能</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="shenhe">
            <a href="/template/checked.html">
                <span>待审核
                    <i>12</i>
                </span>
            </a>
        </li>
        <li data-type="tongguo">
            <a href="/template/checked.html?type=adopt">
                <span>已通过</span>
            </a>
        </li>
        <li data-type="weitongguo">
            <a href="/template/checked.html?type=notadopt">
                <span>未通过</span>
            </a>
        </li>
    </ul>
</aside>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <!-- notadopt未通过-->
                    <div class="mbs">
                        <h3>运营
                            <li class="search">
                                <input type="text" placeholder="活动名称">
                                <i></i>
                                <label></label>
                            </li>
                        </h3>
                    </div>
                    <div class="content notadopt">
                        <div class="list-item">
                            <h4 class="operate">在线活动</h4>
                            <!-- item部分 -->
                            <dl data-id="1">
                                <ul>
                                    <li>
                                        <div>
                                            <span>2018-05-23 08:00</span>
                                            <span>~</span>
                                            <span>2018-06-05 08:00</span>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../assets/img/list-icon.png">
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>东方财经·浦东频道打造“浦东开发开放28周...</span>
                                        <span>
                                            <button class="on">下线</button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="operate">
                                            <i>访问量</i>56,268</span>
                                        <span class="operate">
                                            <i>参与次数</i>56,268</span>
                                        <span class="operate">
                                            <i>参与人数</i>56,268</span>
                                    </li>
                                    <li>
                                        <span class="btnFlow">
                                            <button class="f">注册</button>
                                            <button class="f">投票</button>
                                            <button class="f">抽奖</button>
                                        </span>
                                        <span>
                                            <button class="to">查看</button>
                                            <button class="to toData">数据</button>
                                            <button class="to toPreview">预览</button>
                                        </span>
                                    </li>
                                </ul>
                            </dl>
                        </div>
                    </div>
                    <div class="content">
                        <div class="list-item">
                            <h4 class="operate">非在线活动</h4>
                            <dl data-id="2">
                                <ul>
                                    <li>
                                        <div>
                                            始终开启
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../assets/img/list-icon.png">
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>SMG RADIO 创新学院“奔跑吧5G”分享会</span>
                                        <span>
                                            <button class="on">上线</button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="operate">
                                            <i>访问量</i>56,268
                                        </span>
                                        <span class="operate">
                                            <i>参与次数</i>56,268
                                        </span>
                                        <span class="operate">
                                            <i>参与人数</i>56,268
                                        </span>
                                    </li>
                                    <li>
                                        <span class="btnFlow">
                                            <button class="f">注册</button>
                                            <button class="f">报名</button>
                                            <button class="f">答题</button>
                                            <button class="f">抽奖</button>
                                        </span>
                                        <span>
                                            <button class="to">查看</button>
                                            <button class="to toData">数据</button>
                                            <button class="to toPreview">预览</button>
                                        </span>
                                    </li>
                                </ul>
                            </dl>
                        </div>
                        <div class="page">
                            <li class="next">
                                <button></button>
                                <span>2
                                    <i>/</i>6</span>
                                <button></button>
                            </li>
                            <li class="inset">
                                <input type="text">
                                <button>跳转</button>
                            </li>
                        </div>
                    </div>
                    <!-- dialog -->
                    <div class="dialog operation">
                        <div class="content">
                            <h3>
                                <span class="t">确认退回</span>
                                <span class="exit"></span>
                            </h3>
                            <ul>
                                <li>
                                    <span>审核意见</span>
                                    <i class="info"></i>
                                </li>
                                <li>
                                    <textarea id="checkedText"></textarea>
                                    <span><i>0</i><sub>/</sub>108</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <button id="post"></button>
                                    <button class="exit">取消</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 预览 -->
                    <div class="dialog preview">
                        <div class="content">
                            <h3>
                                <span>预览</span>
                                <span class="exit"></span>
                            </h3>
                            <ul>
                                <li class="phone"></li>
                                <li>
                                    <img src="../assets/img/phone-content.png" alt="">
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>活动二维码</label>
                                    <span class="qrcode"><img src="../assets/img/code.png" alt=""></span>
                                    <span>该二维码及链接均可用于活动推广。</span>
                                </li>
                                <li>
                                    <label>活动链接</label>
                                    <span class="url">http://fanqie.smg.cn/html/news/201804/0318835.html</span>
                                </li>
                                <li>
                                    <label>活动流程</label>
                                    <span class="tp"></span>
                                </li>
                                <li>
                                    <button class="exit">关闭</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 流程显示 -->
                    <div class="dialog flow">
                        <div class="content">
                            <h3>
                                <span>注册</span>
                                <span class="exit"></span>
                            </h3>
                            <ul class="list-item">
                                <li class="online">
                                    <!-- 点赞项增加online类 -->
                                    <label>注册模板名称</label>
                                    <dl>
                                        <li>某某某某某活动注册
                                            <img src="/assets/img/img1.png" alt="">
                                        </li>
                                        <li>
                                            <video controls src="/assets/mp4/bus.mp4"></video>
                                        </li>
                                    </dl>
                                </li>
                                <li>
                                    <label>注册项及模式</label>
                                    <dl>
                                        <li>必填：姓名 电话 邮箱 短信验证</li>
                                        <li>选填：地址</li>
                                    </dl>
                                </li>
                                <li>
                                    <label>自定义按钮</label>
                                    <dl class="customBtn">
                                        <!-- 按钮类增加customBtn类 -->
                                        <li>文字：确认注册</li>
                                        <li>文字颜色：#ffffff
                                            <span class="color">
                                                <i style="background: #0089fe"></i>
                                            </span>
                                        </li>
                                        <li>按钮背景色：#0089fe
                                            <span class="color">
                                                <i style="background: green"></i>
                                            </span>
                                        </li>
                                    </dl>
                                </li>
                                <li>
                                    <label>注册成功提示</label>
                                    <dl>
                                        <li>恭喜您已完成注册！接下来可以愉快滴加入我们的活动中来啦！</li>
                                        <li>
                                            <textarea id="editor-1" style="width:100%;height: 170px;">恭喜您已完成注册！接下来可以愉快滴加入我们的活动中来啦！</textarea>
                                        </li>
                                    </dl>
                                </li>
                                <li>
                                    <label>注册背景图</label>
                                    <dl class="reBg">
                                        <li>
                                            <img src="/assets/img/bg.JPEG" alt="">
                                        </li>
                                    </dl>
                                </li>
                                <li>
                                    <button class="exit">取消</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 数据预览 -->
                    <div class="dialog data">
                        <div class="content">
                            <h3>
                                <span>活动数据</span>
                                <span class="dataFlow"></span>
                                <span class="exit"></span>
                            </h3>
                            <ul class="list-item">
                                <iframe id="dataFlow" src="#" frameborder="0"></iframe>
                            </ul>
                        </div>
                    </div>
                </article>
        </main>
        <!-- 底部版权 -->
        <footer>
    SMG技术运营中心-研发中心  提供技术支持
</footer>
<script type="text/javascript" src="../static/js/checked.js"></script></body>

</html>