<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <!-- 头部 -->
    <%= require('html-loader!./header.html') %>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <%= require('html-loader!./aside.html') %>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <div class="mbs">
                        <h3>新建活动</h3>
                        <ul>
                            <li>
                                <a href="">模板</a>
                            </li>
                            <span>></span>
                            <li>
                                <a href="">活动管理</a>
                            </li>
                            <span>></span>
                            <li>新建活动</li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="items">
                            <div class="page-header">
                                <h3>基础设置
                                    <small>多个关键词请用空格隔开，例如：你好 再见 123；注意：活动发布平台选定后将不可修改！</small>
                                </h3>
                            </div>
                            <div class="list-item">
                                <label>活动名称</label>
                                <li>
                                    <input type="text" maxlength="35" placeholder="必填项">
                                    <i>0/35</i>
                                </li>
                                <p class="sign">请填写点赞模板名称</p>
                            </div>
                            <div class="list-item">
                                <label>触发关键词</label>
                                <li>
                                    <input type="text" maxlength="35" placeholder="多个关键词请用空格隔开"">
                                    <i>0/35</i>
                                </li>
                                <p class="sign">请填写点赞模板名称</p>
                            </div>
                            <div class="list-item">
                                <label>关键词匹配类型</label>
                                <li class="checkeds info">
                                    <span class="checked on">
                                        <input type="radio" name="vote" checked>
                                    </span>
                                    <b>精确匹配</b>
                                    <span class="checked">
                                        <input type="radio" name="vote">
                                    </span>
                                    <b>模糊匹配
                                        <div>只需对方发送的内容包含完整的关键字，就会触发此关键词回复，包括字符数量。例如设置关键词“123”，回复“1234”会触发关键词回复，回复“12”则不会触发。</div>
                                    </b>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>开启时段类型</label>
                                <li>
                                    <div class="timeChecked">
                                        <button type="button" class="on">自定义时间段</button>
                                        <button type="button">按周期重复</button>
                                        <button type="button">始终开启</button>
                                    </div>
                                </li>
                            </div>
                            <div class="timeList">
                                <div class="list-item">
                                    <label>活动开启时段</label>
                                    <li>
                                        <div class="yy">
                                            <div class="timePicker">
                                                <input type="text" name="activity_time[0][begin_time]" readonly="readonly" class="WdatePickerYY" value="开始日期    时间">
                                                <i>~</i>
                                                <input type="text" name="activity_time[0][end_time]" readonly="readonly" class="WdatePickerYY" value="结束日期    时间">
                                                <span class="addTime"></span>
                                                <span class="delTime"></span>
                                            </div>
                                        </div>
                                        <div class="hh">
                                            <div class="timePicker">
                                                <input type="text" name="activity_time[0][begin_time]" readonly="readonly" class="WdatePickerHH" value="开始日期    时间">
                                                <i>~</i>
                                                <input type="text" name="activity_time[0][end_time]" readonly="readonly" class="WdatePickerHH" value="结束日期    时间">
                                                <span class="addTime"></span>
                                                <span class="delTime"></span>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list-item">
                                    <label>每周重复设置</label>
                                    <li>
                                        <div class="timePicker week"></div>
                                        <div class="dataList">
                                            <ul>
                                                <li>周一</li>
                                                <li>周二</li>
                                                <li>周三</li>
                                                <li>周四</li>
                                                <li>周五</li>
                                                <li>周六</li>
                                                <li>周日</li>
                                            </ul>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="list-item">
                                <label>活动发布平台</label>
                                <li class="checkeds box">
                                    <span class="opt on">
                                        <input type="checkbox" name="vote" checked>
                                    </span>
                                    <b>SMT研发</b>
                                    <span class="opt">
                                        <input type="checkbox" name="vote">
                                    </span>
                                    <b>融媒圈</b>
                                    <span class="opt">
                                        <input type="checkbox" name="vote">
                                    </span>
                                    <b>第一财经</b>
                                </li>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <div class="items select">
                            <div class="page-header">
                                <h3>活动设置
                                    <small>抽奖、聊天室、信息提交、爆料、分奖、直播活动步骤后无法再添加流程！</small>
                                </h3>
                            </div>
                            <div class="stepList">
                                <div class="list-item">
                                    <label><i>1</i>步骤</label>
                                    <li>
                                        <input type="text" name="flows[0][type]" maxlength="35" placeholder="请选择"">
                                        <ul  class="dataList">
                                            <li>步骤一</li>
                                            <li>步骤二</li>
                                            <li>步骤一</li>
                                        </ul>
                                    </li>
                                    <span class="del">删除</span>
                                </div>
                                <div class="list-item">
                                    <label>选择活动模板</label>
                                    <li>
                                        <input type="text" name="flows[0][tmp_id]" maxlength="35" placeholder="请选择"">
                                        <ul  class="dataList">
                                            <li>步骤三</li>
                                            <li>步骤四</li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <p class="addActivity">
                            <span>添加步骤</span>
                        </p>
                    </div>
                    <div class="content">
                        <div class="items">
                            <div class="page-header">
                                <h3>相关信息设置
                                    <small>消息封面图片建议尺寸建议尺寸：700*420像素，格式png、jpeg、jpg、gif，大小不超过1M。</small>
                                </h3>
                            </div>
                            <div class="list-item">
                                <label>图文消息简介</label>
                                <li>
                                    <textarea style="height: 80px;"></textarea>
                                </li>
                                <p class="handled">
                                    <span class="file"></span> <input type="file" class="imgFile"> <input type="hidden" name="title[0][name_img]"> 
                                    <span class="color setColor"><input type="text" name="title[0][name_color]"></span>
                                </p>
                            </div>
                            <div class="list-item">
                                <label>统计代码</label>
                                <li>
                                   <textarea style="height: 80px;"></textarea>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="content btn">
                        <div class="submit">
                            <input type="button" value="保存">
                            <input type="button" value="预览">
                        </div>
                    </div>
                    <!--视频预览-->
                    <div class="dialog">
                        <div class="content">
                            <h4>视频预览
                                <span class="close">&times</span>
                            </h4>
                            <div class="video-content">
                                <video id="video" src="" controls></video>
                            </div>
                        </div>
                    </div>
                </article>
        </main>
        <!-- 底部版权 -->
        <%= require('html-loader!./footer.html') %>
</body>

</html>