<div class="dialog">
    <div class="content">
        <h4>添加注册信息选项
            <span class="close">&times</span>
        </h4>
        <div class="d-center">
            <h5>基本信息</h5>
            <ul class="checkbox">
                <li data-id="1">
                    <label>
                        <input type="checkbox" name="11">
                    </label>
                    <span>姓名</span>
                </li>
                <li data-id="2">
                    <label>
                        <input type="checkbox" name="22">
                    </label>
                    <span>邮箱</span>
                </li>
                <li data-id="3">
                    <label>
                        <input type="checkbox" name="33">
                    </label>
                    <span>性别</span>
                </li>
                <li data-id="4">
                    <label>
                        <input type="checkbox" name="44">
                    </label>
                    <span>身高</span>
                </li>
                <li data-id="5">
                    <label>
                        <input type="checkbox" name="55">
                    </label>
                    <span>体重</span>
                </li>
                <li data-id="6">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>血型</span>
                </li>
                <li data-id="7">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>年龄段</span>
                </li>
                <li data-id="8">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>出生年月</span>
                </li>
                <li data-id="9">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>身份证号</span>
                </li>
                <li data-id="10">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>值得关注的微博/微信公众号推荐（列举3-5个）</span>
                </li>
                <li data-id="11">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>国籍</span>
                </li>
                <li data-id="12">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>有意向参加测试活动的时间</span>
                </li>
                <li data-id="13">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>出生地</span>
                </li>
                <li data-id="14">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>民族</span>
                </li>
                <li data-id="15">
                    <label>
                        <input type="checkbox" name="">
                    </label>
                    <span>政治面貌</span>
                </li>
            </ul>
        </div>
        <div class="d-foot">
            <button class="enter">确定</button>
            <button class="off close">取消</button>
        </div>
    </div>
</div>