<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <!-- 头部 -->
    <%= require('html-loader!./header.html') %>
    <!-- 主体 -->
    <main>
        <!-- 左侧菜单-->
        <%= require('html-loader!./aside.html') %>
        <!-- 右侧主体 -->
        <article class="pjax">
            <div class="article">
                <div class="mbs">
                    <h3>某活动开关答题管理</h3>
                    <ul>
                        <li>
                            <a href="">模板</a>
                        </li>
                        <span>></span>
                        <li>
                            <a href="">答题管理</a>
                        </li>
                        <span>></span>
                        <li>开关答题管理</li>
                    </ul>
                </div>
                <div class="content">
                    <div class="items">
                        <div class="page-header">
                            <h3>答题管理
                                <small>每题答案显示在选项前。</small>
                            </h3>
                        </div>
                        <div class="list-item inset">
                            <dl>
                                <h3>1. 德国著名经济学家霍夫曼专门对工业结构规律进行研究得出的霍夫曼比率是：</h3>
                                <span>
                                    <button class="close">关闭</button>
                                    <button>关闭并开启下一题</button>
                                </span>
                            </dl>
                            <ul class="clear">
                                <li>A. 霍夫曼比例=消费品产值/资本品产值</li>
                                <li class="on">B. 霍夫曼比例=资本资料工业产值/消费资料工业产值</li>
                                <li>C. 霍夫曼比例=消费资料工业产值/资本资料工业产值</li>
                                <li>D. 霍夫曼比例=资本品产值/消费品产值</li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <dl>
                                <h3>2. 德国著名经济学家霍夫曼专门对工业结构规律进行研究得出的霍夫曼比率是：</h3>
                                <span>
                                    <button>开启</button>
                                </span>
                            </dl>
                            <ul class="clear">
                                <li>A. 霍夫曼比例=消费品产值/资本品产值<img src="/assets/img/img5.png" alt=""></li>
                                <li class="on">B. 霍夫曼比例=资本资料工业产值/消费资料工业产值<img src="/assets/img/img5.png" alt=""></li>
                                <li class="on">C. 霍夫曼比例=消费资料工业产值/资本资料工业产值</li>
                                <li class="on">D. 霍夫曼比例=资本品产值/消费品产值</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <!-- 底部版权 -->
    <%= require('html-loader!./footer.html') %>
</body>

</html>