<aside>
    <ul class="menus">
        <li class="on">
            <a href="/template/operate_index.html">
                <span>首页</span>
            </a>
        </li>
        <li data-type="yunying">
            <a href="/template/operate.html">
                <span>运营</span>
            </a>
        </li>
        <li data-type="moban">
            <span>模板</span>
            <dl>
        <li>
            <a href="/template/templateReg.html">
                <span>注册</span>
            </a>
        </li>
        <li>
            <a href="/template/addVote.html">
                <span>投票</span>
            </a>
        </li>
        <li>
            <a href="/template/list.html">
                <span>点赞</span>
            </a>
        </li>
        <li>
            <a href="/template/chatRoom.html">
                <span>聊天室</span>
            </a>
        </li>
        <li>
            <a href="/template/burst.html">
                <span>爆料</span>
            </a>
        </li>
        <li>
            <a href="/template/infoPost.html">
                <span>信息提交</span>
            </a>
        </li>
        <li>
            <a href="/template/graphicTemplate.html">
                <span>新建图文模板</span>
            </a>
        </li>
        <li>
            <a href="/template/signUp.html">
                <span>报名</span>
            </a>
        </li>
        <li>
            <a href="/template/addLive.html">
                <span>直播</span>
            </a>
        </li>
        <li>
            <a href="/template/answer.html">
                <span>答题</span>
            </a>
        </li>
        <li>
            <a href="/template/answerSwitch.html">
                <span>答题管理</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="huodong">
            <a href="/template/activityList.html">
                <span>活动</span>
            </a>
        </li>
        <li data-type="shuju">
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>数据</span>
            </a>
        </li>
        <li data-type="wechat">
            <span>微信号</span>
            <dl>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关注时回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>设置关键词回复</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>媒体素材库管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>消息管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>自定义菜单管理</span>
            </a>
        </li>
        <li>
            <a href="/template/dataInfo.html?url=https://ihubwg.smgtech.net/index.php/users/index">
                <span>评论采集功能</span>
            </a>
        </li>
        </dl>
        </li>
        <li data-type="shenhe">
            <a href="/template/checked.html">
                <span>待审核
                    <i>12</i>
                </span>
            </a>
        </li>
        <li data-type="tongguo">
            <a href="/template/checked.html?type=adopt">
                <span>已通过</span>
            </a>
        </li>
        <li data-type="weitongguo">
            <a href="/template/checked.html?type=notadopt">
                <span>未通过</span>
            </a>
        </li>
    </ul>
</aside>