<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <!-- 头部 -->
    <%= require('html-loader!./header.html') %>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <%= require('html-loader!./aside.html') %>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <div class="mbs">
                        <h3>聊天室活动</h3>
                        <ul>
                            <li>
                                <a href="">模板</a>
                            </li>
                            <span>></span>
                            <li>
                                <a href="">聊天室活动管理</a>
                            </li>
                            <span>></span>
                            <li>新建聊天室活动</li>
                        </ul>
                    </div>
                    <div class="content" id="chatRoom">
                        <div class="items">
                            <div class="page-header">
                                <h3>基础设置
                                    <small>点赞次数限制活动可以点赞多少次，点赞对象限制活动可以给多少对象点赞。</small>
                                </h3>
                            </div>
                            <div class="list-item">
                                <label>聊天室模板名称</label>
                                <li>
                                    <input type="text" maxlength="35" placeholder="必填项">
                                    <i>0/35</i>
                                </li>
                                <p class="sign">请填写聊天室模板名称</p>
                            </div>
                            <div class="list-item">
                                <label>进入聊天室审核</label>
                                <li class="showBtn">
                                    <span class="on"></span>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>聊天室界面形式</label>
                                <li class="checkeds">
                                    <span class="checked on">
                                        <input type="radio" name="vote" checked>
                                    </span>
                                    <b>普通模式</b>
                                    <span class="checked">
                                        <input type="radio" name="vote">
                                    </span>弹幕模式
                                </li>
                            </div>
                            <div class="list-item">
                                <label>主持人文字颜色</label>
                                <li class="setupButtn">
                                    <span class="setColor">
                                        <input type="text" placeholder="可输入色值">
                                    </span>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>主持人微信昵称</label>
                                <li>
                                    <input type="text" id="searchName" maxlength="35" placeholder="">
                                    <i>0/35</i>
                                    <input type="hidden" id="manager_id">
                                    <dl class="dataList" v-if="nameData" v-cloak>
                                        <li v-for="item in nameData" v-on:click="manager(item.manager_id,item.nickname)">
                                            <img :src="item.headimgurl">
                                            <span>{{item.nickname}}</span>
                                        </li>
                                    </dl>
                                </li>
                            </div>
                            <div class="list-item">
                                <label>等待审核提示</label>
                                <li>
                                    <textarea class="editor" id="editor-0" name="content" style="width: 100%;height: 230px;"></textarea>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="items">
                            <div class="page-header">
                                <h3>相关信息设置
                                    <small>背景图建议尺寸：960*1704像素，格式png、jpeg、jpg、gif，大小不超过1M。</small>
                                </h3>
                            </div>
                            <div class="list-item">
                                <label>聊天室背景图</label>
                                <li class="upBg">
                                    <span></span>
                                    <input type="file">
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="content btn">
                        <div class="submit">
                            <input type="button" value="保存">
                            <input type="button" value="预览">
                        </div>
                    </div>
                </article>
        </main>
        <!-- 底部版权 -->
        <%= require('html-loader!./footer.html') %>
</body>

</html>