<header>
    <div class="menu"></div>
    <div class="logo"></div>
    <div class="userNav">
        <ul>
            <li class="portrait">
                <img src="/assets/img/user.svg">
            </li>
            <li class="userName">
                <p>酷土豆</p>
                <p>SMT研发部</p>
                <i></i>
            </li>
            <li class="help"></li>
        </ul>
        <div class="organi">
            <div class="content">
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iHub·运营</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·二审</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="wechat"></i>
                            </span>
                            <span class="tname">SMT研发部SMT研发部</span>
                        </div>
                    </li>
                </dl>
                <dl>
                    <li class="pro">iDitor·撰稿</li>
                    <li class="dep">
                        <div>
                            <span class="timg">
                                <img src="/assets/img/user-img.png" alt="">
                                <i class="sina"></i>
                            </span>
                            <span class="tname">SMT研发部</span>
                        </div>
                    </li>
                </dl>
            </div>
            <div class="setting">
                <li class="set">
                    <input type="button" value="个人设置">
                </li>
                <li class="out">
                    <input type="button" value="退出登陆">
                </li>
            </div>
        </div>
    </div>
</header>