<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <!-- 头部 -->
    <%= require('html-loader!./views/header.html') %>
        <!-- 主体 -->
        <main>
            <!-- 左侧菜单-->
            <%= require('html-loader!./views/aside.html') %>
                <!-- 右侧主体 -->
                <article class="pjax">
                    <div class="checked">
                        <!-- 通知 -->
                        <div class="notice">
                            <li>iHub 2.0 全新登场！</li>
                            <ul>
                                <li>2018-06-08</li>
                                <li>
                                    <a href="./template/notice.html">更多</a>
                                </li>
                            </ul>
                        </div>
                        <!-- 账号情况 -->
                        <div class="sketch">
                            <h3>账号整体情况</h3>
                            <div class="title">
                                <li></li>
                                <li>
                                    <i></i>
                                    <span>新消息</span>
                                </li>
                                <li>
                                    <i></i>
                                    <span>新增关注</span>
                                </li>
                                <li>
                                    <i></i>
                                    <span>新增注册</span>
                                </li>
                                <li>
                                    <i></i>
                                    <span>总关注数</span>
                                </li>
                                <li>
                                    <i></i>
                                    <span>总用户数</span>
                                </li>
                            </div>
                            <div class="list-item">
                                <ul>
                                    <li>
                                        <div>
                                            <span class="departmentIcon">
                                                <img src="./assets/img/user-img.png">
                                                <i>
                                                    <img src="/assets/img/weibo.svg" alt="">
                                                </i>
                                            </span>
                                            <span>SMT研发部</span>
                                        </div>
                                    </li>
                                    <li>26</li>
                                    <li>123</li>
                                    <li>68</li>
                                    <li>129,386</li>
                                    <li>381,283</li>
                                </ul>
                                <ul>
                                    <li>
                                        <div>
                                            <span class="departmentIcon">
                                                <img src="./assets/img/user-img.png">
                                                <i>
                                                    <img src="./assets/img/weibo.svg" alt="">
                                                </i>
                                            </span>
                                            <span>融媒圈</span>
                                        </div>
                                    </li>
                                    <li>12</li>
                                    <li>66</li>
                                    <li>53</li>
                                    <li>102,155</li>
                                    <li>297,895</li>
                                </ul>
                                <ul>
                                    <li>
                                        <div>
                                            <span class="departmentIcon">
                                                <img src="./assets/img/user-img.png">
                                                <i>
                                                    <img src="./assets/img/weibo.svg" alt="">
                                                </i>
                                            </span>
                                            <span>技术运营中心研发中心</span>
                                        </div>
                                    </li>
                                    <li>18</li>
                                    <li>32</li>
                                    <li>108</li>
                                    <li>99,289</li>
                                    <li>268,153</li>
                                </ul>
                            </div>
                        </div>
                        <!-- 排行榜 -->
                        <div class="rankings">
                            <h3>排行榜</h3>
                            <div class="list-item">
                                <ul>
                                    <h4>本周最热活动</h4>
                                    <li>转发有礼--大搜帮</li>
                                    <li>疯狂双12--大搜帮</li>
                                    <li>为你免单--大搜帮</li>
                                    <li>五星体育互动留言--五星体育互动</li>
                                    <li>赛事直播互动--五星体育互动</li>
                                </ul>
                                <ul>
                                    <h4>用户关注数</h4>
                                    <li>上海交通广播</li>
                                    <li>私家车999</li>
                                    <li>汽车912</li>
                                    <li>918云南交通广播</li>
                                    <li>郑州新闻广播</li>
                                </ul>
                                <ul>
                                    <h4>注册用户数</h4>
                                    <li>汽车912</li>
                                    <li>上海交通广播</li>
                                    <li>918云南交通广播</li>
                                    <li>私家车999</li>
                                    <li>郑州新闻广播</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
        </main>
        <!-- 底部版权 -->
        <%= require('html-loader!./views/footer.html') %>
</body>

</html>